<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="custom_bar" frontName="custom_bar">
            <module name="BlueAcorn_CustomBar" />
        </route>
    </router>
</config>
